html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

body::before {
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: -1; 
}

.continer {
    margin: 2%;
    border-radius: 20px;
    padding: 1%;
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
    color: #fff;
}

.head {
    background-color: #6b2207;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.items_container {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;/*145 لو 4 في الصف */
    padding: 20px;
    margin: auto 5%;
    border-radius: 20px;
    justify-content: center;
    border: 3px solid black;
}

/*  العناصر */
.items {
    max-width: 200px;
    padding: 10px;
    margin: 0; 
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.3s;
    color: #fff;
}

.items img {
    width: 100%;
    height: 200px;
    border-radius: 50%;
}

.items:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.746); /* تعديل الشفافية هنا (0.5 يعني 50%) */
    font-weight: bolder;
}

.move a {
    text-decoration: none;
    color: inherit; /* وراثة اللون من الزر */
    display: block; /* يجعل الرابط يغطي الزر بالكامل */
    width: 100%; /* يضمن التغطية الكاملة */
    height: 100%;
}

.add, .move {
    border-radius: 30px;
    background-color: rgb(227, 168, 132);
    color: #000;
    padding: 10px;
    text-align: center; /* توسيط النصوص داخل الزر */
}

.add:hover, .move:hover {
    transition: 0.5s;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.3);
    background-color: #79402b;
    color: #fff;
}