/*fonts*/
/*Fonts for pages content*/
@font-face {
    font-family: 'Roboto_Slab';
    src: url('../fonts/RobotoSlab_font/RobotoSlab-VariableFont.ttf');
    font-style: normal;
}

/*Font fredericka*/
@font-face {
    font-family: 'fredericka';
    src: url('../fonts/FrederickatheGreat_font/FrederickatheGreat-Regular.ttf');
    font-style: normal;
}

/*Font Bestary*/
@font-face {
    font-family: 'Bestary';
    src: url('../fonts/Bestary_font/Bestary.ttf');
    font-style: normal;
}

.prime_head {
    font-family: Bestary;
}

body , nav button , button a {
    font-family: Roboto_Slab;
}

.text-content , p {
    font-family: fredericka;
}

button , a , .items:hover , .item:hover {
    cursor: url('../imgs/cursor/pointer.png') , auto;
}

body {
    cursor: url('../imgs/cursor/cursor.png'),auto;
}


html {
    scroll-behavior: smooth;
}


/* شريط التنقل */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.navbar img {
    border-radius: 50%; /* يجعل الصورة دائرية */
    width: 30px; /* يمكنك تعديل الحجم حسب الحاجة */
    height: 30px; /* نفس الأمر هنا لتحديد ارتفاع الصورة */
    object-fit: cover; /* تأكد من أن الصورة تغطي الإطار بشكل جيد */
}

.navbar button {
    background-color: rgba(192, 187, 183, 0.7);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 30px;
    margin-right: 5px;
    transition: 0.5s;
}

.navbar button:hover {
    background-color: #383434;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px; /* مسافة بين الأيقونات */
    font-size: 2rem; /* حجم الأيقونات */
    color: #fff; /* لون الأيقونات */
}

.logo-container a , .navbar button a  {
    text-decoration: none;
    color: #fff;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -30px;
    background-color: rgb(255 255 255 / 90%);
    list-style: none;
    padding: 10px 6px;
    margin: 0;
    border-radius: 20px;
}

.dropdown-menu li {
    padding: 8px 16px;
}

.dropdown-menu li a {
    color: #000;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

.dropdown-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}