/* إعدادات عامة */
body, h1, p, ul, li, a, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* الخلفية */
.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6); /* طبقة تغطي الفيديو */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1; /* يجعل المحتوى فوق الفيديو */
    color: #fff;
}

/* الزر */
button {
    background-color: rgba(192, 187, 183, 0.432);
    color: #fff;
    padding: 5px;
    border: none; /* حذف الإطار */
    border-radius: 5px;
    font-size: 16px;
}

/* محتوى الهيرو */
.container-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 50px;
    max-width: 1200px;
    height: 100%;
}

.text-content {
    max-width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
}

.text-content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.text-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.text-content button {
    padding: 10px 20px;
}

/* محتويات menu (المنتجات) */
.menu h1.recommended {
    margin: 2.3rem 0 2rem 2%;
}

@media (max-width: 600px) {
    .menu h1.recommended {
        margin: 2.3rem 0 2rem 0;
        font-size: 1.4rem;
    }
}

.menu section.products.flex {
    display: flex;
    flex-wrap: wrap; /* يجعل الصور جنب بعضها في حال وجود مساحة */
    justify-content: center;
    gap: 50px; /* يضيف مسافة بين العناصر */
    margin-bottom: 30px;
    text-align: center;
}

.content img {
    border-radius: 50%; /* يجعل حواف الصورة دائرية */
    width: 100px;
    height: 100px;
    object-fit: cover; /* يجعل الصورة تغطي الأبعاد المحددة بالكامل */
}

/* أيقونات */
.fa-solid {
    color: white;
}

/* فيديو الخلفية */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* يجعل الفيديو يغطي الخلفية بالكامل */
    z-index: -1; /* يجعل الفيديو في الخلف */
}
